@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'AvaFont';
  src: url('/Ava-zrRWG.ttf') format('truetype');
}

@font-face {
  font-family: 'EmpiricRoman';
  src: url('/EmpiricRoman.ttf') format('truetype');
}

@layer base {
  h1 {
    @apply font-EmpiricRoman font-bold text-5xl mb-8 text-accent;
  }
}
